//.env file for shubh


MONGO_URI=mongodb+srv://shubh:Shubh%242006@cluster0.h7yi847.mongodb.net/eventshub?retryWrites=true&w=majority
PORT=3001
SESSION_SECRET=mysecretkey
ADMIN_USERNAME=admin
ADMIN_PASSWORD=shubh123